<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title -  © Koenig 2019 </title>

    @RenderSection("head", required: false)
    @System.Web.Optimization.Styles.Render("~/Content/dist")
    @System.Web.Optimization.Styles.Render("~/Content/react-bootstrap-table2.min.css")
    

</head>
<body>
    <div>
        <div id="headerSect" style="background-color:black; height:100px"></div>
        <div style="padding:10px;">
            @RenderBody()
        </div>

        <div id="footerSect" style="background-color:black; height:100px "></div>
    </div>
</body>
</html>
