<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title -  © Koenig 2019 </title>

    @RenderSection("head", required: false)
    @System.Web.Optimization.Styles.Render("~/Content/dist")
    @System.Web.Optimization.Styles.Render("~/Content/react-bootstrap-table2.min.css")
    

</head>
<body>
    @RenderBody()
    
    

</body>
</html>
